<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Plataforma de interacción con el cliente de WhatsApp Web</h4>
        <h2 class="font-weight-bold">
          Interacción inteligente con el cliente, a escala
        </h2>

        <p class="text-justify">
          Utiliza esta plataforma para la administracion de tu cuenta, puedes
          hacer pruebas de envio de mensajes a WhatsApp sin gastar saldo, tanto
          desde
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/mensajes-prueba"
            >esta plataforma</a
          >como desde la
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/apis-mensajes"
            >API.</a
          >
        </p>
        <p>
          Visita nuestro portal de compras donde podrás ver nuestros
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/planes"
            >Planes</a
          >
          y escoger el que mejor se adapte a ti, además podras ver el estado de
          las
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/solicitudes"
            >Solicitudes</a
          >
          que has realizado, recuerda que para que tu solicitud se apruebe debes
          cargar el soporte de pago donde se evidencie el valor de tu compra
        </p>
      </div>
    </div>
  </div>
</div>
