<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title animated fadeIn fast">
          Total de usuarios de Solicitudes Realizadas
        </h4>
        <h6 class="card-subtitle">
          Debe subir el soporte de pago para aprovar la solicitud
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Soporte</th>
                <th>Actualizado</th>
                <th>Plan</th>
                <th>Descripcion</th>
                <th>Valor</th>
                <th>Estado</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of solicitudes">
                <td class="text-center">
                  <button
                    *ngIf="!solicitud.soporte_pago"
                    type="button"
                    class="cargar-soporte btn waves-effect waves-light btn-primary"
                    (click)="abrirModal(solicitud)"
                  >
                    Cargar soporte de pago
                  </button>
                  <img
                    *ngIf="solicitud.soporte_pago"
                    class="w100 cursor"
                    [src]="solicitud.soporte_pago | imagen: 'solicitudes'"
                    alt="Soporte de Pago"
                    (click)="abrirModal(solicitud)"
                  />
                </td>
                <td>{{ solicitud.update_at | date: "yyyy/M/dd h:mm a" }}</td>
                <td>{{ solicitud.nombre }}</td>
                <td>{{ solicitud.descripcion }}</td>
                <td>{{ solicitud.valor | currency: "COL$ " }}</td>
                <td>
                  <span
                    *ngIf="solicitud.estado === 'PENDIENTE'"
                    class="label label-inverse"
                    >PENDIENTE</span
                  >
                  <span
                    *ngIf="solicitud.estado === 'CANCELADA'"
                    class="label label-danger"
                    >CANCELADA</span
                  >
                  <span
                    *ngIf="solicitud.estado === 'ENVIADO'"
                    class="label label-warning"
                    >ENVIADO</span
                  >
                  <span
                    *ngIf="solicitud.estado === 'APROBADA'"
                    class="label label-success"
                    >APROBADA</span
                  >
                </td>

                <td class="text-nowrap text-center">
                  <div class="tooltip2">
                    <span class="input-group-btn">
                      <button
                        class="btn btn-danger"
                        type="button"
                        (click)="cancelarSolicitud(solicitud)"
                      >
                        <i class="mdi mdi-cart-off"> </i>
                      </button>
                    </span>
                    <span class="tooltiptext">Cancelar Solicitud</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
