<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3>apis</h3>
        <span class="label label-mensaje"
          >{{ url.origin }}/api/send-message-prueba
        </span>
        <br />
        <span class="label label-mensaje"
          >{{ url.origin }}/api/send-message-token
        </span>
        <br />
        <span class="label label-mensaje"
          >{{ url.origin }}/api/send-message-img
        </span>
      </div>
    </div>
  </div>
</div>
