<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header class="disable_ripple">
      <mat-panel-title>
        <span class="opblock-summary-method opblock-post">POST</span>
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{ panelOpenState ? "open" : "closed" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>este es el contenido</div>
  </mat-expansion-panel>
</mat-accordion>
