table {
  width: 100%;
}

table th {
  position: relative;
}

.mat-sort-header-container {
  display: contents !important;
}

/* sort */

table th:hover .resize-handle {
  opacity: 1;
  transition: 0.3s ease-in-out;
  z-index: 999;
}

.resize-handle {
  display: inline-block;
  border-right: 2px solid lightgrey;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: col-resize;
  opacity: 0;
  z-index: 999;
}

.resize-handle:hover {
  width: 20px;
  z-index: 999;
}

td {
  font-size: 12px;
  vertical-align: middle;
}

.mat-header-row {
  height: 15px;
  text-align: right !important;
}

/* Column Widths */
.mat-column-celular,
.mat-column-tipo {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.mat-column-mensaje {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-column-created_at {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

/* TIPOS */
.demo-row-is-prueba {
  background-color: rgb(212, 215, 248);
}
.demo-row-is-mensaje {
  background-color: rgb(243, 248, 212);
}
.demo-row-is-archivo {
  background-color: rgb(218, 255, 204);
}
