<app-navbar></app-navbar>
<div class="row">
  <div class="form-container col-lg-4 col-xs-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Form with right Icon</h4>
        <h6 class="card-subtitle">
          Use Bootstrap's predefined grid classes for horizontal form
        </h6>
        <form class="form-horizontal p-t-20">
          <div class="form-group row">
            <label for="uname" class="col-sm-3 control-label control-lable-sm"
              >Username*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="uname"
                  placeholder="Username"
                />
                <div class="input-group-addon"><i class="ti-user"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email2" class="col-sm-3 control-label control-lable-sm"
              >Email*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="email"
                  class="form-control form-control-sm"
                  id="exampleInputEmail1"
                  placeholder="Enter email"
                  disabled
                />
                <div class="input-group-addon"><i class="ti-email"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="web1" class="col-sm-3 control-label control-lable-sm"
              >Website</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="web1"
                  placeholder="Enter Website Name"
                />
                <div class="input-group-addon"><i class="ti-world"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="pass3" class="col-sm-3 control-label control-lable-sm"
              >Password*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="pass3"
                  placeholder="Enter pwd"
                />
                <div class="input-group-addon"><i class="ti-lock"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="pass4" class="col-sm-3 control-label control-lable-sm"
              >Re Password*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="pass4"
                  placeholder="Re Enter pwd"
                />
                <div class="input-group-addon"><i class="ti-lock"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox checkbox-success">
                <input id="checkbox35" type="checkbox" />
                <label for="checkbox35">Check me out !</label>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light"
              >
                Sign in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <div class="historia-container col col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form with right Icon</h4>
          <h6 class="card-subtitle">
            Use Bootstrap's predefined grid classes for horizontal form
          </h6>
          <h1>historia</h1>
        </div>
      </div>
    </div>
    <div class="tabla-container col col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Form with right Icon</h4>
          <h6 class="card-subtitle">
            Use Bootstrap's predefined grid classes for horizontal form
          </h6>
          <h1>tabla historias</h1>
        </div>
      </div>
    </div>
  </div>
</div>
