$alerta: #ff8080;
$seleccion: #0078d7;
$salida: #b9d9ca;
$titulo: #778899;
$fondo: #ebecea;

.container-fluid {
  margin-top: 0px;
  padding: 5px;
}

.card {
  margin-bottom: 5px;
}

div {
  white-space: pre-line;
}

.row {
  --bs-gutter-x: 0;
  vertical-align: middle;
  margin: 5px;
  margin-top: 0px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;

  height: 100%;
  min-height: 100%;
}

.col {
  padding: 0;
  padding-left: 5px;
  padding-right: 0px;
}

.card-titulo {
  background-color: $titulo;
  color: #fff;
}

.card-body {
  height: 100%;
  min-height: 100%;
  margin-bottom: 0;
}

.form-container {
  height: 90vh;
  min-height: 90vh;
}

.historia-container {
  height: 49%;
  min-height: 49%;
}
.tabla-container {
  height: 50%;
  min-height: 50%;
}

.example-container {
  position: relative;
}

.example-container-paciente {
  min-height: 80px;
  max-height: 80px;
}

.example-historia-container {
  position: relative;
  min-height: 195px;
  max-height: 195px;
  overflow: auto;
  font-size: 12px;
}

.container-text-hist {
  text-align: justify;
  padding-right: 10px;
}

.example-table-container {
  border: 1px solid rgb(180, 180, 180);
  position: relative;
  min-height: 270px;
  max-height: 270px;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  margin: 0;
}

#table-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.separador {
  font-size: 15px;
  letter-spacing: 4px;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-tipo_atencion,
.mat-column-especialidad_historia,
.mat-column-num_orden,
.mat-column-fecha_dig,
.mat-column-nombre_estudio,
.mat-column-medico {
  //   max-width: 64px;
  padding-left: 10px !important;
  font-size: 12px;
  color: black;
}

th,
td {
  vertical-align: middle;
  border: 1px solid rgb(180, 180, 180);
  border-top: 1px rgb(180, 180, 180);
  border-bottom: 1px rgb(180, 180, 180);
}

td:hover {
  cursor: pointer;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $titulo;

  height: 22px !important;
}

.mat-header-cell {
  color: #fff;
}

.mat-row {
  height: 22px !important;
  background: white;
  padding: 10px;
  &.demo-row-is-anulado {
    background: $alerta;
    td {
      border: 1px solid #f3f3f3;
    }
  }
  &.demo-row-is-clicked {
    background: $seleccion;
    td {
      border: 1px solid #f3f3f3;
      color: white;
    }
  }
}

.icon-size {
  font-size: 20px;
  padding: 0;
  align-items: center;
  vertical-align: middle;
  text-align: right;
}
