<app-navbar></app-navbar>
<div class="row">
  <div class="form-container col-lg-4 col-xs-12 animated fadeIn fast">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Datos generales del Paciente</h4>
        <form
          [formGroup]="pacienteForm"
          (keydown.enter)="buscarPaciente2()"
          class="form-horizontal p-t-20"
        >
          <div class="form-group row">
            <label for="uname" class="col-sm-3 control-label control-lable-sm"
              >No. Historia</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  class="form-control form-control-sm"
                  type="text"
                  id="inputHistoria"
                  formControlName="inputHistoria"
                  placeholder=""
                  autocomplete="off"
                />
                <div class="input-group-addon"><i class="ti-user"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="inputIdentificacion"
              class="col-sm-3 control-label control-lable-sm"
              >Identificacion</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="exampleInputIdentificacion"
                  [placeholder]="paciente.identificacion"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.identificacion"
                />
                <div class="input-group-addon">
                  <i class="fa fa-id-card-o"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="sexo" class="col-sm-3 control-label control-lable-sm"
              >Sexo</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="sexo"
                  [placeholder]="paciente.sexo"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.sexo"
                />
                <div class="input-group-addon"><i class="ti-world"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="pass3" class="col-sm-3 control-label control-lable-sm"
              >Paciente</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="fechaNac"
                  [placeholder]="paciente.nombre_paciente"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.nombre_paciente"
                />
                <div class="input-group-addon"><i class="ti-id-badge"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="fecha" class="col-sm-3 control-label control-lable-sm"
              >Fecha Nac</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="fecha"
                  [placeholder]="paciente.fecha_nac"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.fecha_nac"
                />
                <div class="input-group-addon"><i class="ti-agenda"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="edad" class="col-sm-3 control-label control-lable-sm"
              >Edad</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="edad"
                  [placeholder]="paciente.edad"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.edad"
                />
                <div class="input-group-addon">
                  <i class="ti-alarm-clock"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="telefono"
              class="col-sm-3 control-label control-lable-sm"
              >Telefono</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="telefono"
                  [placeholder]="paciente.telefono"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.telefono"
                />
                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="empresa" class="col-sm-3 control-label control-lable-sm"
              >Empresa</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="empresa"
                  [placeholder]="paciente.empresa_nombre"
                  disabled
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [title]="paciente.empresa_nombre"
                />
                <div class="input-group-addon">
                  <i class="fa fa-hospital-o"></i>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light btn-sm btn-lg btn-block w-100"
                (click)="buscarPaciente2()"
                [disabled]="!pacienteForm.valid"
              >
                Buscar Paciente
              </button>
              <button
                type="submit"
                class="btn btn-primary waves-effect waves-light btn-sm btn-lg btn-block w-100"
                (click)="pdfsCheck()"
                [disabled]="historiasCheck.length == 0"
              >
                Imprimir Folios Seleccionados<mat-icon class="icon-size"
                  >picture_as_pdf</mat-icon
                >
              </button>
            </div>
            <div>
              Numero de folios: {{ historiasCheck.length }} de {{ numFolios }}
            </div>
          </div>
        </form>
        <mat-checkbox
          [(ngModel)]="nombreEstudio"
          (change)="applyFilter('nombre_estudio', nombreEstudio ? '' : 'NOTA')"
          color="primary"
          >NOTAS</mat-checkbox
        >
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <div class="historia-container col col-lg-12 animated fadeIn fast">
      <div class="card">
        <div class="card-header card-titulo">HISTORIA CLINICA:</div>
        <div class="card-body">
          <div class="example-container">
            <div id="specificDiv" class="example-historia-container">
              <div>
                <div class="animated fadeIn fast" *ngFor="let hist of historia">
                  <div *ngIf="hist.largo.length > 0">
                    <div class="separador">
                      ----------------------------------------------------------------------------
                    </div>
                    <div>{{ hist.codigo }}</div>
                    <div class="separador">
                      ----------------------------------------------------------------------------
                    </div>
                    <div class="container-text-hist">{{ hist.cuerpo }}</div>
                    <div *ngIf="documento_ruta" class="container-text-hist">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm btn-lg btn-block w-100 mt-2"
                        (click)="getFiles()"
                      >
                        Ver Documentos Adjuntos
                      </button>
                      <hr />
                      <h4>
                        <span class="badge bg-light text-dark">{{
                          documento_ruta
                        }}</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabla-container col col-lg-12 animated fadeIn fast">
      <div class="card">
        <div id="table-container" class="card-body">
          <div class="example-container">
            <div class="example-table-container">
              <table mat-table [dataSource]="dataSource" class="example-table">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      color="primary"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      (change)="toggleAll()"
                    >
                    </mat-checkbox>
                  </th>

                  <td
                    mat-cell
                    *matCellDef="let row"
                    (click)="$event.stopPropagation()"
                  >
                    <mat-checkbox
                      color="primary"
                      (change)="onHistoriaSelected(row)"
                      [checked]="selection.isSelected(row)"
                    ></mat-checkbox>
                  </td>
                </ng-container>

                <!-- Number Column -->
                <ng-container matColumnDef="tipo_atencion">
                  <th mat-header-cell *matHeaderCellDef>Tipo Atencion</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.tipo_atencion == 1 ? "AMBULATORIO" : "URGENCIAS" }}
                  </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="num_orden">
                  <th mat-header-cell *matHeaderCellDef>No Folio</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.num_orden }}
                  </td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="fecha_dig">
                  <th mat-header-cell *matHeaderCellDef>Fecha</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.fecha_dig | date: "dd-MM-yyyy h:mm a" }}
                  </td>
                </ng-container>
                <!-- State Column -->
                <ng-container matColumnDef="nombre_estudio">
                  <th mat-header-cell *matHeaderCellDef>Tipo de Historia</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.nombre_estudio }}
                  </td>
                </ng-container>
                <!-- State Column -->
                <ng-container matColumnDef="medico">
                  <th mat-header-cell *matHeaderCellDef>Profesional</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.md_apellido1 }} {{ row.md_apellido2 }}
                    {{ row.md_nombre1 }} {{ row.md_nombre2 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="anulado">
                  <th mat-header-cell *matHeaderCellDef>Anulado</th>
                  <td
                    class="animated fadeIn fast"
                    mat-cell
                    *matCellDef="let row"
                  >
                    {{ row.anulado == -1 ? "SI" : "NO" }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  class="animated fadeIn fast"
                  mat-row
                  *matRowDef="let row; columns: displayedColumns; let i = index"
                  (click)="selectRow(row)"
                  [class.demo-row-is-clicked]="selectedRow === row"
                  [class.demo-row-is-anulado]="row.anulado == -1"
                  [class.demo-row-is-adjunto]="row.direccion_archivo != null"
                  (dblclick)="generarPdf2()"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
