nav {
  height: auto !important;
}

.badge {
  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle !important;
  position: relative;
}

.info-nav {
  font-size: 11px !important;
}
