<div class="wrapper">
  <form (submit)="sendMessageButton()" #forma="ngForm">
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="to"
      [(ngModel)]="to"
      placeholder="Numero de Telefono"
    />
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="message"
      [(ngModel)]="message"
      placeholder="Ingrese el mensaje"
    />
    <button>Enviar</button>
  </form>
</div>

<div>
  <h1>Prueba de envio varios mensajes</h1>
  <button type="button" (click)="sendMessagesPrueba()">
    Enviar Varios mensajes
  </button>
</div>
