<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4>Plataforma de interacción con el cliente de WhatsApp Web</h4>
        <h2 class="font-weight-bold">
          Interacción inteligente con el cliente, a escala
        </h2>

        <p class="text-justify">
          Utiliza esta plataforma para la administracion de tu cuenta, puedes
          hacer pruebas de envio de mensajes a WhatsApp sin gastar saldo, tanto
          desde
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/mensajes-prueba"
            >esta plataforma</a
          >como desde la
          <a class="btn p-l-0 btn-link" routerLink="/dashboard/apis-mensajes"
            >API.</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
