/* Structure */

$alerta: #ff8080;
$seleccion: #0078d7;
$salida: #b9d9ca;
$titulo: #778899;
$fondo: #ebecea;

div {
  white-space: pre-line;
}

.example-container {
  position: relative;
}

.example-historia-container {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  font-size: 12px;
}

.container-text-hist {
  text-align: justify;
  padding-right: 10px;
}

.example-table-container {
  border-top: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
  border-right: 1px solid rgb(180, 180, 180);
  position: relative;
  min-height: 170px;
  max-height: 170px;
  overflow: auto;
}

.separador {
  font-size: 15px;
  letter-spacing: 4px;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-tipo_atencion,
.mat-column-especialidad_historia,
.mat-column-num_orden,
.mat-column-fecha_dig,
.mat-column-nombre_estudio,
.mat-column-medico {
  //   max-width: 64px;
  padding-left: 10px !important;
  font-size: 12px;
  color: black;
}

th,
td {
  vertical-align: middle;
  border: 1px solid rgb(180, 180, 180);
  border-top: 1px rgb(180, 180, 180);
  border-bottom: 1px rgb(180, 180, 180);
}

td:hover {
  cursor: pointer;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(224, 224, 224);
  height: 22px !important;
}

.mat-row {
  height: 22px !important;
  background: white;
  padding: 10px;
  &.demo-row-is-anulado {
    background: $alerta;
    td {
      border: 1px solid #f3f3f3;
    }
  }
  &.demo-row-is-clicked {
    background: $seleccion;
    td {
      border: 1px solid #f3f3f3;
      color: white;
    }
  }
}
