/* Structure */
.example-container {
  position: relative;
}

.example-historia-container {
  position: relative;
  min-height: 320px;
  max-height: 320px;
  overflow: auto;
}

.example-table-container {
  position: relative;
  min-height: 180px;
  max-height: 180px;
  overflow: auto;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-especialidad_historia,
.mat-column-num_orden,
.mat-column-fecha_dig,
.mat-column-nombre_estudio,
.mat-column-medico {
  //   max-width: 64px;
  padding-left: 10px !important;
}

th,
td {
  vertical-align: middle;
  border: 1px solid rgb(180, 180, 180);
  border-top: 1px rgb(180, 180, 180);
  border-bottom: 1px rgb(180, 180, 180);
}

td:hover {
  cursor: pointer;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgb(224, 224, 224);
  height: 30px !important;
}

.mat-row {
  height: 30px !important;
  background: white;
  padding: 10px;
}

div {
  white-space: pre-line;
}

.mat-row {
  &.selected {
    background: #3a7aaf;
    font-weight: bold;
    color: white;
  }
}

.demo-row-is-clicked {
  font-weight: bold;
  background: #3a7aaf;
}
