<div class="mt-3" *ngIf="!clientes">
  <h2>Cargando...</h2>
</div>

<div
  *ngIf="clientes"
  class="mat-elevation-z8 mt-3 animate__animated animate__fadeIn"
>
  <mat-grid-list cols="6" rowHeight="50px">
    <mat-grid-tile colspan="5" rowspan="1">
      <div class="filter">
        <mat-form-field appearance="outline">
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ejemplo. Juan"
            #input
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="crearCliente()">
        Agregar Cliente
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="example-table-container table-responsive-md">
    <table mat-table [dataSource]="dataSource" matSort class="table table-sm">
      <!-- tipo_doc Column -->
      <ng-container matColumnDef="tipo_doc">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Tipo Doc
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.tipo_doc }}
        </td>
      </ng-container>

      <!-- num_doc_usr Column -->
      <ng-container matColumnDef="num_doc_usr">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Documento
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.num_doc_usr }}
        </td>
      </ng-container>

      <!-- apellido1 Column -->
      <ng-container matColumnDef="apellido1">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Apellido 1
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.apellido1 }}
        </td>
      </ng-container>

      <!-- apellido2 Column -->
      <ng-container matColumnDef="apellido2">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Apellido 2
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.apellido2 }}
        </td>
      </ng-container>
      <!-- nombre1 Column -->
      <ng-container matColumnDef="nombre1">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Nombre 1
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.nombre1 }}
        </td>
      </ng-container>
      <!-- nombre2 Column -->
      <ng-container matColumnDef="nombre2">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Nombre 2
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.nombre2 }}
        </td>
      </ng-container>
      <!-- celular Column -->
      <ng-container matColumnDef="celular">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Celular
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.celular }}
        </td>
      </ng-container>
      <!-- estado Column -->
      <ng-container matColumnDef="estado">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Estado
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          <span
            class="badge estado"
            [ngClass]="{
              'bg-primary': row.estado == 'PENDIENTE',
              'bg-success': row.estado == 'CONFIRMADO',
              'bg-danger': row.estado == 'CANCELADO'
            }"
            >{{ row.estado }}</span
          >
        </td>
      </ng-container>
      <!-- created_at Column -->
      <ng-container matColumnDef="created_at">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Registro
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.created_at | date: "dd-MM-yyyy, h:mm a" }}
        </td>
      </ng-container>
      <!-- update_at Column -->
      <ng-container matColumnDef="update_at">
        <th
          class="table-dark"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Actualizado
        </th>
        <td mat-cell *matCellDef="let row" class="height">
          {{ row.update_at | date: "dd-MM-yyyy, h:mm a" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th class="table-dark" mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row" class="height">
          <i
            matTooltip="Enviar mensaje a whatsapp"
            class="fa-brands fa-whatsapp-square color-green boton"
            (click)="selectRow(row)"
          ></i>
          <i
            matTooltip="Editar"
            class="fa-solid fa-pen-to-square color-blue boton"
            (click)="editarCliente(row)"
          ></i>
          <i
            matTooltip="Borrar"
            class="fa-solid fa-trash-can color-red boton"
            (click)="borrarCliente(row)"
          ></i>
        </td>
      </ng-container>

      <tr
        class="altura-row"
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr
        class="altura-row"
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        (click)="selectedRow = selectedRow === row ? null : row"
        [class.demo-row-is-clicked]="selectedRow === row"
        (dblclick)="editarCliente(row)"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell noResultados" colspan="4">
          No hay resultados para "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
