<!-- <h1>
  NgxCSVParser by <a href="https://DevelopersHive.com">Developers Hive</a>
</h1> -->

<div class="csv-file-chooser-section">
  <input
    type="text"
    [ngModelOptions]="{ standalone: true }"
    name="delimitador"
    [(ngModel)]="delimitador"
    placeholder="delimitador"
    style="width: 100px"
  />
  <input
    type="file"
    #fileImportInput
    name="File Upload"
    id="csvFileUpload"
    (change)="fileChangeListener($event)"
    accept=".csv"
  />

  <button
    *ngIf="csvRecords.length > 0"
    type="button"
    class="btn btn-primary"
    (click)="sendMessagesCsv(csvRecords)"
  >
    Enviar Mensajes
    <span class="badge badge-light">{{ csvRecords.length }}</span>
  </button>

  <!-- <label> Parse Headers? </label>
    <select aria-placeholder="Parse headers?" [(ngModel)]="header">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select> -->
</div>

<div class="mb-2" *ngIf="csvRecords.length > 0">
  <form
    (submit)="
      filterForItems(
        num_doc_usr,
        apellido1,
        apellido2,
        especialidad,
        profesional
      )
    "
    #forma="ngForm"
  >
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="num_doc_usr"
      [(ngModel)]="num_doc_usr"
      placeholder="documento"
    />
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="apellido1"
      [(ngModel)]="apellido1"
      placeholder="apellido 1"
    />
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="apellido2"
      [(ngModel)]="apellido2"
      placeholder="apellido 2"
    />
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="especialidad"
      [(ngModel)]="especialidad"
      placeholder="especialidad"
    />
    <input
      type="text"
      [ngModelOptions]="{ standalone: true }"
      name="profesional"
      [(ngModel)]="profesional"
      placeholder="profesional"
    />

    <button>Filtrar</button>
  </form>
</div>
<div *ngIf="csvRecords.length > 0">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th>id</th>
        <th>Documento</th>
        <th>Apellido 1</th>
        <th>Apellido 2</th>
        <th>nombre 1</th>
        <th>nombre 2</th>
        <th>Celular</th>
        <th>Fecha cita</th>
        <th>Especialidad</th>
        <th>Profesional</th>
        <th>Descripcion</th>
        <th>
          <button
            (click)="eliminarLista()"
            type="button"
            class="btn btn-danger"
          >
            Borrar Tabla
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let csvData of csvRecords | slice: starIndex:endIndex;
          let i = index
        "
      >
        <td>
          <span>{{ csvData.id }}</span>
        </td>
        <td>
          <span>{{ csvData.num_doc_usr }}</span>
        </td>
        <td>
          <span>{{ csvData.apellido1 }}</span>
        </td>
        <td>
          <span>{{ csvData.apellido2 }}</span>
        </td>
        <td>
          <span>{{ csvData.nombre1 }}</span>
        </td>
        <td>
          <span>{{ csvData.nombre2 }}</span>
        </td>
        <td>
          <span>{{ csvData.celular }}</span>
        </td>
        <td>
          <span>{{ csvData.fec_hora_cita }}</span>
        </td>
        <td>
          <span>{{ csvData.especialidad }}</span>
        </td>
        <td>
          <span>{{ csvData.profesional }}</span>
        </td>
        <td>
          <span>{{ csvData.descripcion }}</span>
        </td>
        <td>
          <div (click)="eliminarItem(csvData)" style="text-align: center">
            <img src="../../../assets/img/trash.png" width="20" alt="trash" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button
    *ngFor="let item of getArrayFromNumber(csvRecords.length); let i = index"
    (click)="updateIndex(i)"
    type="button"
    class="btn btn-light"
  >
    {{ i + 1 }}
  </button>
</div>
