<h1>
  NgxCSVParser by <a href="https://DevelopersHive.com">Developers Hive</a>
</h1>
<div class="csv-file-chooser-section">
  <input
    type="file"
    #fileImportInput
    name="File Upload"
    id="csvFileUpload"
    (change)="fileChangeListener($event)"
    accept=".csv"
  />

  <button *ngIf="csvRecords.length>0" type="button" class="btn btn-primary" (click)="sendMessagesCsv(csvRecords)">Enviar Mensajes</button>

  <!-- <label> Parse Headers? </label>
  <select aria-placeholder="Parse headers?" [(ngModel)]="header">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select> -->
</div>

<div *ngIf="csvRecords.length>0">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th>Documento</th>
        <th>Apellido 1</th>
        <th>Apellido 2</th>
        <th>nombre 1</th>
        <th>nombre 2</th>
        <th>Celular</th>
        <th>Fecha cita</th>
        <th>Especialidad</th>
        <th>Profesional</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let csvData of csvRecords | slice: starIndex:endIndex;
          let i = index
        "
      >
        
        <td>
          <span>{{ csvData.num_doc_usr }}</span>
        </td>
        <td>
          <span>{{ csvData.apellido1 }}</span>
        </td>
        <td>
          <span>{{ csvData.apellido2 }}</span>
        </td>
        <td>
          <span>{{ csvData.nombre1 }}</span>
        </td>
        <td>
          <span>{{ csvData.nombre2 }}</span>
        </td>
        <td>
          <span>{{ csvData.celular }}</span>
        </td>
        <td>
          <span>{{ csvData.fec_hora_cita }}</span>
        </td>
        <td>
          <span>{{ csvData.especialidad }}</span>
        </td>
        <td>
          <span>{{ csvData.profesional }}</span>
        </td>
        <td>
          <span>{{ csvData.descripcion }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li
        *ngFor="
          let item of getArrayFromNumber(csvRecords.length);
          let i = index
        "
        class="page-item"
      >
        <a class="page-link" (click)="updateIndex(i)">{{ i + 1 }}</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
