.csv-file-chooser-section {
  padding: 10px;
  margin: 2%;
  border: 1px solid;
  text-align: center;
}

.csv-result-table {
  margin: 5%;
  border: 1px solid #73ad21;
}

.msg-fijo {
  margin: 1%;
  border: 1px solid #212fad;
  width: 90%;
  height: 70px;
}

.btn-centrar {
  vertical-align: bottom !important;
  margin-top: 10px;
}

.btn-fijo {
  height: 80%;
  text-align: justify;
}

table,
th,
td {
  border-bottom: 1px solid black;
  font-size: small;
  vertical-align: middle;
}

button {
  margin-left: 5px;
}

.logo-red {
  margin-right: 10px;
  color: red;
}
