<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
  cdkDropListGroup
  class="table table-bordered table-hover mat-elevation-z8 example-table"
>
  <ng-container
    *ngFor="let column of columns; let i = index"
    [matColumnDef]="column.field"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ column.titulo }}
      <span
        class="resize-handle"
        (mousedown)="onResizeColumn($event, i)"
      ></span>
    </th>
    <td mat-cell *matCellDef="let row">{{ row[column.field] }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let i = index"
    [class.demo-row-is-prueba]="row.tipo == 'PRUEBA'"
    [class.demo-row-is-mensaje]="row.tipo == 'MENSAJE'"
    [class.demo-row-is-archivo]="row.tipo == 'ARCHIVO'"
  ></tr>
</table>
<mat-paginator
  *ngIf="displayedColumns.length > 0"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
